.Movie{
    width: 200px;
    height: 300px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
    font-family: 'Open Sans', sans-serif;
    background-color: #373B69;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 5px;
}
/* .Movie:hover{
    transform: scale(3);
    z-index: 100;
} */
.Movie button{
    width: 30px;
    position: absolute;
    /* background-color: transparent; */
    right: 20px;
    top: 20px;
    font-size: 1.3rem;
    cursor: pointer;
}
.Movie img{
    width: 200px;
    height: 250px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
.Movie div{
    color: #fff;
    font-family: inherit;
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Movie div p:first-of-type{
    font-family: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Movie div p:last-of-type{
    width: fit-content;
    padding: 2px 4px;
    color: yellow;
    background-color: #272532;
    border-radius: 2px;
}